# Prática com base `classicmodels`

Nesta aula iremos praticar **SQL** e fixar os conteúdos aprendidos nas últimas aulas.

## Instalação da base

Vamos utilizar a base de dados exemplo disponível em https://www.mysqltutorial.org/wp-content/uploads/2018/03/mysqlsampledatabase.zip. Faça o download e execute o script `mysqlsampledatabase.sql` para gerar a base de dados.

Para facilitar, o arquivo `.sql` (zip) e o diagrama do modelo relacional também foram disponibilizados (pasta `sql`). Você pode abrir o modelo no Workbench ou pelo arquivo PDF.

<img src="img/classicmodels.png">

## Como resolver os exercícios?

Indicamos que crie uma cópia da base de dados em sua máquina (passo anterior). Utilize o MySQL Workbench ou o conector para testar as queries. Quando estiver bastante certo de que a resposta está correta, faça a submissão para o servidor.

## Import das bibliotecas

Vamos realizar o import das bibliotecas.

In [1]:
import mysql.connector
from functools import partial
import os
import insperautograder.jupyter as ia
from dotenv import load_dotenv

E vamos criar nosso HELPER de conexão com o banco! Perceba que, uma vez configurado o `.env` não precisaremos mais informar usuários, senhas e URLs!

In [2]:
load_dotenv(override=True)

def get_connection_helper():

    def run_db_query(connection, query, args=None):
        with connection.cursor() as cursor:
            print("Executando query:")
            cursor.execute(query, args)
            for result in cursor:
                print(result)

    connection = mysql.connector.connect(
        host=os.getenv("MD_DB_SERVER"),
        user=os.getenv("MD_DB_USERNAME"),
        password=os.getenv("MD_DB_PASSWORD"),
        database="classicmodels",
    )
    return connection, partial(run_db_query, connection)


connection, db = get_connection_helper()

### Tarefas e Notas
Vamos conferir as tarefas e notas

In [3]:
ia.tasks()

|    | Atividade    | De                  | Até                 |
|---:|:-------------|:--------------------|:--------------------|
|  0 | newborn      | 2025-02-01 00:00:00 | 2025-05-30 00:00:00 |
|  1 | select01     | 2025-02-05 00:00:00 | 2025-02-15 23:59:59 |
|  2 | ddl          | 2025-02-19 00:00:00 | 2025-02-26 23:59:59 |
|  3 | dml          | 2025-02-24 00:00:00 | 2025-03-09 23:59:59 |
|  4 | agg_join     | 2025-02-26 00:00:00 | 2025-03-09 23:59:59 |
|  5 | group_having | 2025-03-10 00:00:00 | 2025-03-17 23:59:59 |
|  6 | views        | 2025-03-12 00:00:00 | 2025-03-19 23:59:59 |
|  7 | sql_review1  | 2025-03-17 00:00:00 | 2025-03-23 23:59:59 |

In [4]:
ia.grades(by="TASK")

|    | Tarefa       |   Nota |
|---:|:-------------|-------:|
|  0 | agg_join     |     10 |
|  1 | ddl          |     10 |
|  2 | dml          |     10 |
|  3 | group_having |     10 |
|  4 | newborn      |     10 |
|  5 | select01     |     10 |
|  6 | sql_review1  |      0 |
|  7 | views        |     10 |

In [5]:
ia.grades(task="sql_review1")

|    | Atividade   | Exercício   |   Peso |   Nota |
|---:|:------------|:------------|-------:|-------:|
|  0 | sql_review1 | ex01        |      1 |      0 |
|  1 | sql_review1 | ex02        |      1 |      0 |
|  2 | sql_review1 | ex03        |      1 |      0 |
|  3 | sql_review1 | ex04        |      1 |      0 |
|  4 | sql_review1 | ex05        |      1 |      0 |
|  5 | sql_review1 | ex06        |      1 |      0 |
|  6 | sql_review1 | ex07        |      2 |      0 |
|  7 | sql_review1 | ex08        |      3 |      0 |
|  8 | sql_review1 | ex09        |      2 |      0 |
|  9 | sql_review1 | ex10        |      1 |      0 |
| 10 | sql_review1 | ex11        |      3 |      0 |
| 11 | sql_review1 | ex12        |      3 |      0 |

**Exercício 1**: Crie uma query que conte a quantidade de registros na tabela `offices`.

In [6]:
sql_ex01 = """
SELECT
	COUNT(officeCode) AS qnt_registros
FROM
	offices;
"""

db(sql_ex01)

Executando query:
(7,)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [7]:
ia.sender(answer="sql_ex01", task="sql_review1", question="ex01", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex01', style=ButtonStyle()), Output()), _dom_classes=('widget…

#### Conferir a nota
Se obter um **correto**, confira se a nota foi atualizada:

In [8]:
ia.grades(task="sql_review1")

|    | Atividade   | Exercício   |   Peso |   Nota |
|---:|:------------|:------------|-------:|-------:|
|  0 | sql_review1 | ex01        |      1 |     10 |
|  1 | sql_review1 | ex02        |      1 |      0 |
|  2 | sql_review1 | ex03        |      1 |      0 |
|  3 | sql_review1 | ex04        |      1 |      0 |
|  4 | sql_review1 | ex05        |      1 |      0 |
|  5 | sql_review1 | ex06        |      1 |      0 |
|  6 | sql_review1 | ex07        |      2 |      0 |
|  7 | sql_review1 | ex08        |      3 |      0 |
|  8 | sql_review1 | ex09        |      2 |      0 |
|  9 | sql_review1 | ex10        |      1 |      0 |
| 10 | sql_review1 | ex11        |      3 |      0 |
| 11 | sql_review1 | ex12        |      3 |      0 |

**Exercício 2**: Crie uma query que retorne todos os países diferentes considerando os registros da tabela de consumidores. Ainda, retorne em ordem crescente pelo nome do país.

In [9]:
sql_ex02 = """
SELECT DISTINCT
	country
FROM
	customers
ORDER BY
	country ASC;
"""

db(sql_ex02)

Executando query:
('Australia',)
('Austria',)
('Belgium',)
('Canada',)
('Denmark',)
('Finland',)
('France',)
('Germany',)
('Hong Kong',)
('Ireland',)
('Israel',)
('Italy',)
('Japan',)
('Netherlands',)
('New Zealand',)
('Norway',)
('Philippines',)
('Poland',)
('Portugal',)
('Russia',)
('Singapore',)
('South Africa',)
('Spain',)
('Sweden',)
('Switzerland',)
('UK',)
('USA',)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [10]:
ia.sender(answer="sql_ex02", task="sql_review1", question="ex02", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex02', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 3**: Crie uma query que CONTE quantos são os países diferentes (sem repetição) considerando os registros da tabela de consumidores.

In [13]:
sql_ex03 = """
SELECT
	COUNT(country) AS qnt_paises
FROM
	(
	SELECT DISTINCT
		country
	FROM
		customers
	ORDER BY
		country ASC
    ) AS paises_diferentes;
"""

db(sql_ex03)

Executando query:
(27,)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [14]:
ia.sender(answer="sql_ex03", task="sql_review1", question="ex03", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex03', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 4**: Crie uma query que retorne o **Nome do consumidor** e **telefone** de todos os consumidores que possuem a substring `Ltd` em seu nome. Ainda, retorne em ordem decrescente por nome.

In [15]:
sql_ex04 = """
SELECT
	customerName, phone
FROM
	customers
WHERE
	customerName LIKE "%ltd%"
ORDER BY
	customerName DESC;
"""

db(sql_ex04)

Executando query:
('Vida Sport, Ltd', '0897-034555')
('UK Collectables, Ltd.', '(171) 555-2282')
('Toms Spezialitäten, Ltd', '0221-5554327')
('Tokyo Collectables, Ltd', '+81 3 3584 0555')
('Signal Collectibles Ltd.', '4155554312')
('Royal Canadian Collectables, Ltd.', '(604) 555-4555')
('Mini Gifts Distributors Ltd.', '4155551450')
('Mini Creations Ltd.', '5085559555')
("Men 'R' US Retailers, Ltd.", '2155554369')
('Extreme Desk Decorations, Ltd', '04 499 9555')
('Dragon Souveniers, Ltd.', '+65 221 7555')
('Double Decker Gift Stores, Ltd', '(171) 555-7555')
('Cramer Spezialitäten, Ltd', '0555-09555')
('Corrida Auto Replicas, Ltd', '(91) 555 22 82')
('Australian Collectables, Ltd', '61-9-3844-6555')
('Anton Designs, Ltd.', '+34 913 728555')
("Anna's Decorations, Ltd", '02 9936 8555')

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [16]:
ia.sender(answer="sql_ex04", task="sql_review1", question="ex04", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex04', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 5**: Considerando os **produtos** e **categorias** cadastradas, crie uma query que retorne:
- o **id** do produto
- o **nome** do produto
- o **id da categoria** do produto
- a **descrição** da categoria cadastrada

Restrições:
- Ordene pelo **nome** do produto
- Exiba apenas os primeiros `5` registros
- Retorne as colunas na ordem requisitada
- As três primeiras colunas deverão manter o mesmo nome dos campos na base. A quarta coluna (**descrição** da categoria cadastrada) deverá se chamar `productLineDescription`.

In [17]:
sql_ex05 = """
SELECT
	productCode, productName, productLine,
    textDescription AS productLineDescription
FROM
	products INNER JOIN productlines USING (productLine)
ORDER BY
	productName ASC
LIMIT 5;
"""

db(sql_ex05)

Executando query:
('S24_2011', '18th century schooner', 'Ships', 'The perfect holiday or anniversary gift for executives, clients, friends, and family. These handcrafted model ships are unique, stunning works of art that will be treasured for generations! They come fully assembled and ready for display in the home or office. We guarantee the highest quality, and best value.')
('S18_3136', '18th Century Vintage Horse Carriage', 'Vintage Cars', 'Our Vintage Car models realistically portray automobiles produced from the early 1900s through the 1940s. Materials used include Bakelite, diecast, plastic and wood. Most of the replicas are in the 1:18 and 1:24 scale sizes, which provide the optimum in detail and accuracy. Prices range from $30.00 up to $180.00 for some special limited edition replicas. All models include a certificate of authenticity from their manufacturers and come fully assembled and ready for display in the home or office.')
('S24_2841', '1900s Vintage Bi-Plane', 'Planes', 'Unique, diecast airplane and helicopter replicas suitable for collections, as well as home, office or classroom decorations. Models contain stunning details such as official logos and insignias, rotating jet engines and propellers, retractable wheels, and so on. Most come fully assembled and with a certificate of authenticity from their manufacturers.')
('S24_4278', '1900s Vintage Tri-Plane', 'Planes', 'Unique, diecast airplane and helicopter replicas suitable for collections, as well as home, office or classroom decorations. Models contain stunning details such as official logos and insignias, rotating jet engines and propellers, retractable wheels, and so on. Most come fully assembled and with a certificate of authenticity from their manufacturers.')
('S18_3140', '1903 Ford Model A', 'Vintage Cars', 'Our Vintage Car models realistically portray automobiles produced from the early 1900s through the 1940s. Materials used include Bakelite, diecast, plastic and wood. Most of the replicas are in the 1:18 and 1:24 scale sizes, which provide the optimum in detail and accuracy. Prices range from $30.00 up to $180.00 for some special limited edition replicas. All models include a certificate of authenticity from their manufacturers and come fully assembled and ready for display in the home or office.')

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [18]:
ia.sender(answer="sql_ex05", task="sql_review1", question="ex05", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex05', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 6**: Crie uma query que retorne o **código** e **nome** dos produtos sem nenhuma venda.

In [19]:
sql_ex06 = """
SELECT
	productCode, productName
FROM
	products
WHERE
	productCode NOT IN (
	SELECT DISTINCT
		productCode
	FROM
		orderdetails INNER JOIN products USING (productCode)
    )
ORDER BY
	productName ASC;
"""

db(sql_ex06)

Executando query:
('S18_3233', '1985 Toyota Supra')

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [20]:
ia.sender(answer="sql_ex06", task="sql_review1", question="ex06", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex06', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 7**: Crie uma query que retorne o **código**, **nome** e **total vendido** dos cinco produtos com maior valor total vendido.

**Requisitos**:
- As duas primeiras colunas devem seguir a mesma nomenclatura dos campos na tabela
- A coluna com a informação do **total vendido** (valor) deve se chamar `totalOrdered`
- Retorne em ordem decrescente por **total vendido**

In [23]:
sql_ex07 = """
SELECT
	productCode, productName, SUM(quantityOrdered*priceEach) AS totalOrdered
FROM
	products INNER JOIN orderdetails USING (productCode)
GROUP BY
	productCode
ORDER BY
	totalOrdered DESC
LIMIT 5;
"""

db(sql_ex07)

Executando query:
('S18_3232', '1992 Ferrari 360 Spider red', Decimal('276839.98'))
('S12_1108', '2001 Ferrari Enzo', Decimal('190755.86'))
('S10_1949', '1952 Alpine Renault 1300', Decimal('190017.96'))
('S10_4698', '2003 Harley-Davidson Eagle Drag Bike', Decimal('170686.00'))
('S12_1099', '1968 Ford Mustang', Decimal('161531.48'))

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [24]:
ia.sender(answer="sql_ex07", task="sql_review1", question="ex07", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex07', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 8**: Considere a descrição do exercício anterior, com a seguinte alteração:

**Requisitos**:
- Retorne em ordem **crescente** por **total vendido**

In [27]:
sql_ex08 = """
SELECT
	productCode, productName, totalOrdered
FROM
	(
    SELECT
		productCode, productName, SUM(quantityOrdered*priceEach) AS totalOrdered
	FROM
		products INNER JOIN orderdetails USING (productCode)
	GROUP BY
		productCode
	ORDER BY
		totalOrdered DESC
	LIMIT 5
    ) AS top_five_sellers
ORDER BY
	totalOrdered ASC;
"""

db(sql_ex08)

Executando query:
('S12_1099', '1968 Ford Mustang', Decimal('161531.48'))
('S10_4698', '2003 Harley-Davidson Eagle Drag Bike', Decimal('170686.00'))
('S10_1949', '1952 Alpine Renault 1300', Decimal('190017.96'))
('S12_1108', '2001 Ferrari Enzo', Decimal('190755.86'))
('S18_3232', '1992 Ferrari 360 Spider red', Decimal('276839.98'))

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [28]:
ia.sender(answer="sql_ex08", task="sql_review1", question="ex08", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex08', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 9**: Crie uma query que retorne o **código**, **nome** e **total vendido** dos quatro produtos com **menor** valor total vendido.

**Requisitos**:
- As duas primeiras colunas devem seguir a mesma nomenclatura dos campos na tabela
- A coluna com a informação do **total vendido** (valor) deve se chamar `totalOrdered`
- Retorne em ordem crescente por **total vendido**
- Se um produto não teve vendas, teve aparecer o valor `0.00`

In [31]:
sql_ex09 = """
SELECT
    productCode, productName, 
    COALESCE(SUM(quantityOrdered*priceEach), 0.00) AS totalOrdered
FROM
	products LEFT OUTER JOIN orderdetails USING (productCode)
GROUP BY
	productCode
ORDER BY
	totalOrdered ASC
LIMIT 4;
"""

db(sql_ex09)

Executando query:
('S18_3233', '1985 Toyota Supra', Decimal('0.00'))
('S24_1937', '1939 Chevrolet Deluxe Coupe', Decimal('28052.94'))
('S24_3969', '1936 Mercedes Benz 500k Roadster', Decimal('29763.39'))
('S24_2972', '1982 Lamborghini Diablo', Decimal('30972.87'))

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [32]:
ia.sender(answer="sql_ex09", task="sql_review1", question="ex09", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex09', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 10**: Crie uma query que retorne o **código**, **nome** e **total vendido** dos  produtos com valor total vendido maior que 190.000,00 (cento e noventa mil).

**Requisitos**:
- As duas primeiras colunas devem seguir a mesma nomenclatura dos campos na tabela
- A coluna com a informação do **total vendido** (valor) deve se chamar `totalOrdered`
- Retorne em ordem **crescente** por **total vendido**

In [29]:
sql_ex10 = """
SELECT
    productCode, productName, SUM(quantityOrdered*priceEach) AS totalOrdered
FROM
	products INNER JOIN orderdetails USING (productCode)
GROUP BY
	productCode
HAVING
	totalOrdered > 190000
ORDER BY
	totalOrdered ASC;
"""

db(sql_ex10)

Executando query:
('S10_1949', '1952 Alpine Renault 1300', Decimal('190017.96'))
('S12_1108', '2001 Ferrari Enzo', Decimal('190755.86'))
('S18_3232', '1992 Ferrari 360 Spider red', Decimal('276839.98'))

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [30]:
ia.sender(answer="sql_ex10", task="sql_review1", question="ex10", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex10', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 11**: Crie uma query que retorne o valor unitário médio dos produtos vendidos em cada mês de cada ano.

Sua query deve retornar as colunas:
- `orderYear`: valor inteiro que representa o ano. Ex: 2002, 2003, 2004
- `orderMonth`: valor inteiro que representa o mês. Ex: 1, 2, ..., 12
- `productCode`: código do produto
- `productName`: descrição do produto
- `averagePrice`: preço médio unitário

**Requisitos**:
- Retorne apenas os dados de 2003 e 2004
- Retorne apenas as informações do primeiro trimestre do ano
- Retorne apenas os produtos com a substring `ford` no nome do produto
- Produtos sem venda em algum mês ou sem vendas de forma geral não devem ser retornados
- Ordene por múltiplos critérios, nesta ordem:
    - `orderYear`
    - `orderMonth`
    - `productName`

**Obs**:
- Aqui, o valor médio unitário é por venda, desconsiderando a **quantidade** unitária do produto dentro da venda.

In [34]:
sql_ex11 = """
SELECT
    YEAR(orderDate) AS orderYear,
    MONTH(orderDate) AS orderMonth,
    productCode, productName, AVG(priceEach) AS averagePrice
FROM
	products INNER JOIN orderdetails USING (productCode)
    INNER JOIN orders USING (orderNumber)
WHERE
	productName LIKE "%ford%"
GROUP BY
	orderYear, orderMonth, productCode, productName
HAVING
	(orderYear = 2003 
    OR orderYear = 2004)
    AND orderMonth >= 1
	AND orderMonth <= 3
ORDER BY
	orderYear ASC,
    orderMonth ASC,
    productName ASC;
"""

db(sql_ex11)

Executando query:
(2003, 1, 'S18_2248', '1911 Ford Town Car', Decimal('55.090000'))
(2003, 1, 'S18_2949', '1913 Ford Model T Speedster', Decimal('92.190000'))
(2003, 1, 'S18_2432', '1926 Ford Fire Engine', Decimal('58.340000'))
(2003, 1, 'S18_2325', '1932 Model A Ford J-Coupe', Decimal('108.060000'))
(2003, 1, 'S18_2957', '1934 Ford V8 Coupe', Decimal('61.840000'))
(2003, 1, 'S18_1097', '1940 Ford Pickup Truck', Decimal('94.500000'))
(2003, 1, 'S18_4600', '1940s Ford truck', Decimal('98.070000'))
(2003, 2, 'S18_3140', '1903 Ford Model A', Decimal('136.590000'))
(2003, 2, 'S24_3151', '1912 Ford Model T Delivery Wagon', Decimal('73.460000'))
(2003, 2, 'S32_4289', '1928 Ford Phaeton Deluxe', Decimal('65.350000'))
(2003, 2, 'S24_3816', '1940 Ford Delivery Sedan', Decimal('75.470000'))
(2003, 2, 'S12_3891', '1969 Ford Falcon', Decimal('141.880000'))
(2003, 3, 'S18_2248', '1911 Ford Town Car', Decimal('51.460000'))
(2003, 3, 'S18_2949', '1913 Ford Model T Speedster', Decimal('85.100000'))
(2003, 3, 'S18_2325', '1932 Model A Ford J-Coupe', Decimal('115.690000'))
(2003, 3, 'S18_2957', '1934 Ford V8 Coupe', Decimal('53.090000'))
(2003, 3, 'S18_1097', '1940 Ford Pickup Truck', Decimal('101.500000'))
(2003, 3, 'S18_4933', '1957 Ford Thunderbird', Decimal('62.000000'))
(2003, 3, 'S12_1099', '1968 Ford Mustang', Decimal('165.380000'))
(2003, 3, 'S18_3482', '1976 Ford Gran Torino', Decimal('132.290000'))
(2004, 1, 'S18_3140', '1903 Ford Model A', Decimal('117.470000'))
(2004, 1, 'S18_2248', '1911 Ford Town Car', Decimal('53.280000'))
(2004, 1, 'S24_3151', '1912 Ford Model T Delivery Wagon', Decimal('80.540000'))
(2004, 1, 'S18_2949', '1913 Ford Model T Speedster', Decimal('97.260000'))
(2004, 1, 'S32_4289', '1928 Ford Phaeton Deluxe', Decimal('57.100000'))
(2004, 1, 'S18_2325', '1932 Model A Ford J-Coupe', Decimal('125.860000'))
(2004, 1, 'S18_2957', '1934 Ford V8 Coupe', Decimal('56.210000'))
(2004, 1, 'S24_3816', '1940 Ford Delivery Sedan', Decimal('79.670000'))
(2004, 1, 'S18_1097', '1940 Ford Pickup Truck', Decimal('100.340000'))
(2004, 1, 'S18_4933', '1957 Ford Thunderbird', Decimal('58.440000'))
(2004, 1, 'S12_1099', '1968 Ford Mustang', Decimal('171.220000'))
(2004, 1, 'S12_3891', '1969 Ford Falcon', Decimal('152.260000'))
(2004, 1, 'S18_3482', '1976 Ford Gran Torino', Decimal('138.170000'))
(2004, 2, 'S18_3140', '1903 Ford Model A', Decimal('133.860000'))
(2004, 2, 'S24_3151', '1912 Ford Model T Delivery Wagon', Decimal('74.350000'))
(2004, 2, 'S18_2432', '1926 Ford Fire Engine', Decimal('58.340000'))
(2004, 2, 'S32_4289', '1928 Ford Phaeton Deluxe', Decimal('66.730000'))
(2004, 2, 'S24_3816', '1940 Ford Delivery Sedan', Decimal('77.990000'))
(2004, 2, 'S18_4600', '1940s Ford truck', Decimal('118.660000'))
(2004, 2, 'S12_1099', '1968 Ford Mustang', Decimal('157.600000'))
(2004, 2, 'S12_3891', '1969 Ford Falcon', Decimal('166.100000'))
(2004, 2, 'S18_3482', '1976 Ford Gran Torino', Decimal('119.060000'))
(2004, 3, 'S18_3140', '1903 Ford Model A', Decimal('133.860000'))
(2004, 3, 'S18_2248', '1911 Ford Town Car', Decimal('59.930000'))
(2004, 3, 'S24_3151', '1912 Ford Model T Delivery Wagon', Decimal('70.810000'))
(2004, 3, 'S18_2949', '1913 Ford Model T Speedster', Decimal('101.310000'))
(2004, 3, 'S18_2432', '1926 Ford Fire Engine', Decimal('53.480000'))
(2004, 3, 'S18_2325', '1932 Model A Ford J-Coupe', Decimal('118.230000'))
(2004, 3, 'S18_2957', '1934 Ford V8 Coupe', Decimal('57.460000'))
(2004, 3, 'S24_3816', '1940 Ford Delivery Sedan', Decimal('78.830000'))
(2004, 3, 'S18_1097', '1940 Ford Pickup Truck', Decimal('100.340000'))
(2004, 3, 'S18_4600', '1940s Ford truck', Decimal('119.870000'))
(2004, 3, 'S18_4933', '1957 Ford Thunderbird', Decimal('70.560000'))
(2004, 3, 'S12_3891', '1969 Ford Falcon', Decimal('147.070000'))

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [35]:
ia.sender(answer="sql_ex11", task="sql_review1", question="ex11", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex11', style=ButtonStyle()), Output()), _dom_classes=('widget…

**Exercício 12**: Crie uma query que crie uma tabela temporária `salesproductlines` contendo informações sobre o quanto a empresa deixou de ganhar devido a vendas **canceladas**. A informação deve estar agrupada por **linha de produto** (tabela `productlines`).

Sua query deve retornar as colunas:
- `productLine`: texto com a linha do produto
- `qtProductCode`: quantos produtos diferentes da linha de produto deixaram de ser vendidos
- `qtTotalOrdered`: total de quantas unidades deixaram de ser vendidas
- `totalLost`: faturamento perdido, considerando o valor unitário na venda e quantas unidades do produto estavam para ser vendidas

**Requisitos**:
- Linhas de produtos sem vendas devem ser retornadas com quantidade `0` e valores `0.00`
- Ordene por `totalLost` de forma decrescente

In [47]:
sql_ex12 = """
CREATE TEMPORARY TABLE salesproductlines
	SELECT
		productLine, 
		COALESCE(qtProductCode, 0) as qtProductCode, 
		COALESCE(qtTotalOrdered, 0) as qtTotalOrdered, 
		COALESCE(totalLost, 0.00) as totalLost
	FROM
		productlines LEFT OUTER JOIN (SELECT
			productLine, COUNT(DISTINCT productCode) AS qtProductCode,
			SUM(quantityOrdered) AS qtTotalOrdered,
			SUM(quantityOrdered*priceEach) AS totalLost
		FROM
			orderdetails INNER JOIN orders USING (orderNumber)
			INNER JOIN products USING (productCode)
		WHERE
			status = 'Cancelled'
		GROUP BY
			productLine) AS lost_sales USING (productLine)
	ORDER BY
		totalLost DESC;
"""

db('DROP TABLE IF EXISTS salesproductlines;\n' + sql_ex12)

Executando query:

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [48]:
ia.sender(answer="sql_ex12", task="sql_review1", question="ex12", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex12', style=ButtonStyle()), Output()), _dom_classes=('widget…

### Conferindo as Notas

Conferindo as Notas em cada exercício de **todas** as atividades disponíveis:

Podemos filtrar por uma atividade:

In [49]:
ia.grades(task="sql_review1")

|    | Atividade   | Exercício   |   Peso |   Nota |
|---:|:------------|:------------|-------:|-------:|
|  0 | sql_review1 | ex01        |      1 |     10 |
|  1 | sql_review1 | ex02        |      1 |     10 |
|  2 | sql_review1 | ex03        |      1 |     10 |
|  3 | sql_review1 | ex04        |      1 |     10 |
|  4 | sql_review1 | ex05        |      1 |     10 |
|  5 | sql_review1 | ex06        |      1 |     10 |
|  6 | sql_review1 | ex07        |      2 |     10 |
|  7 | sql_review1 | ex08        |      3 |     10 |
|  8 | sql_review1 | ex09        |      2 |     10 |
|  9 | sql_review1 | ex10        |      1 |     10 |
| 10 | sql_review1 | ex11        |      3 |     10 |
| 11 | sql_review1 | ex12        |      3 |     10 |

Nota por atividade (tarefa):

In [50]:
ia.grades(by="TASK")

|    | Tarefa       |   Nota |
|---:|:-------------|-------:|
|  0 | agg_join     |     10 |
|  1 | ddl          |     10 |
|  2 | dml          |     10 |
|  3 | group_having |     10 |
|  4 | newborn      |     10 |
|  5 | select01     |     10 |
|  6 | sql_review1  |     10 |
|  7 | views        |     10 |

Podendo filtrar apenas uma atividade:

In [51]:
ia.grades(by="TASK", task="sql_review1")

|    | Tarefa      |   Nota |
|---:|:------------|-------:|
|  0 | sql_review1 |     10 |